body, html {
    background-color: Dark Cyan;
    margin: 0;
    font-family: sans-serif;
    font-collapse: white
}

.content {
    margin: 0 auto;
    width: 400px;6
}

table, td, th {
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}


#content {
    width: 70%;
}